Repository vaticle/typedb-ml, pull requests merged in 2020-08, with the labels that each got.

#144 Install Python step in test-deployment-pip
  .circleci/config.yml
Labels: type: bug, type: build

#149 Update Build for 2.0
  BUILD
  WORKSPACE
  dependencies/graknlabs/artifacts.bzl
  dependencies/graknlabs/repositories.bzl
  deployment.bzl
Labels: type: build, x: do not merge

#150 [Development] Refactor WORKSPACE and add filegroup declaring CI targets
  BUILD
  WORKSPACE
  dependencies/graknlabs/repositories.bzl
Labels: type: build
